
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

header
{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background: rgba(60, 60, 59, 0.7);
    backdrop-filter: blur(20px);
}
ul{
display: flex;
}

li{
    color: #F18700;
    list-style-type: none;
    cursor: pointer;
    padding-left: 2rem;
}

.portfolio
{
    /* Portfólio */
position: absolute;
width: 73px;
height: 25px;
left: calc(50% - 73px/2 + 250.5px);
top: 21px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.5px;

color: #F18700;
}

.quem_somos
{
    /* Quem somos */
position: absolute;
width: 109px;
height: 25px;
left: calc(50% - 109px/2 + 405.5px);
top: 21px;

font-family: Manrope;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.5px;

color: #F18700;
}

.contato
{
    /* Contato */
position: absolute;
width: 70px;
height: 25px;
left: calc(50% - 70px/2 + 534px);
top: 21px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.5px;

color: #F18700;
}

.logo
{
    background-image:url(../Home/Logos.png);
    /* Logos */
position: absolute;
cursor: pointer;
width: 173px;
height: 40.85px;
left: 96px;
top: 20px;
}

/* HEADER COMPLETO */

.strackBrazilianPhotographer
{
    /* Strack, Brazilian photographer */
position: absolute;
width: 824px;
height: 131px;
left: 96px;
top: 329px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 64px;
/* or 119% */

letter-spacing: -0.5px;

color: #FEFEFE;
}

.todosQ
{
    /* “Todos que tenham a mesma fome, todos que tenham mesma sede, sentem-se a mesa” */
position: absolute;
width: 334px;
height: 63px;
left: 104px;
top: 446px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
/* or 150% */

letter-spacing: -0.5px;

color: #FEFEFE;
}

.logoGrande
{
    background-image: url(../Home/logo\ grande.png);
    background-repeat: no-repeat;
    /* Frame 1 */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

position: absolute;
width: 372px;
height: 360px;
left: 935px;
top: 331px;
}

.btnstrackphotos01
{
    /* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 48px;

position: absolute;
width: 312px;
height: 65px;
left: 107px;
top: 600px;

background: #3C3C3B;
border-radius: 4px;
}

.email
{
/* strackphotos01@gmail.com */
position: absolute;
width: 312px;
height: 70px;
left: 165px;
top: 635px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;

color: #FEFEFE;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
}

.caixaemail
{
    
position: absolute;
width: 350px;
height: 108px;
left: 150px;
top: 640px;

}


.featured
{
    /* Featured */
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
cursor: pointer;

position: absolute;
width: 198px;
height: 48px;
left: 153px;
top: 803px;
}

.home1
{
    /* unsplash:mxPiMiz7KCo */
background: fixed;
position: absolute;
width: 612px;
height: 888px;
left: 96px;
top: 964px;

background: url(../Home/01-home.png), #292929;
background-attachment: fixed;
border-radius: 4px;
}

.home2
{
    /* unsplash:g-pKprPg5yw */
position: absolute;
width: 612px;
height: 888px;
left: 732px;
top: 1102px;

background: url(../Home/02-home.png), #292929;
background-attachment: fixed;
border-radius: 4px;
}

.home3
{
    /* unsplash:pqzRfBhd9r0 */
position: absolute;
width: 612px;
height: 888px;
left: 96px;
top: 1876px;

background: url(../Home/03-home.png), #292929;
background-attachment: fixed;
border-radius: 4px;
}

.home4
{
    /* unsplash:x-HpilsdKEk */
position: absolute;
width: 612px;
height: 888px;
left: 732px;
top: 2028px;

background: url(../Home/04-home.png), #292929;
background-attachment: fixed;
border-radius: 4px;
}

.visualexplorations
{
    /* Visual Explorations */
position: absolute;
width: 324px;
height: 49px;
left: 558px;
top: 3142px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #F17800;
}

.home5
{
    /* unsplash:fd6K_OFlnRA */
position: absolute;
width: 400px;
height: 408px;
left: 96px;
top: 3256px;

background: url(../Home/05-home.png)
}

.home6
{
position: absolute;
width: 400px;
height: 408px;
left: 520px;
top: 3256px;

background: url(../Home/06-home.png), #292929;
border-radius: 4px;
}

.home7
{    
position: absolute;
width: 400px;
height: 408px;
left: 944px;
top: 3256px;

background: url(../Home/07-home.png), #292929;
border-radius: 4px;
}

.home8
{
position: absolute;
width: 400px;
height: 408px;
left: 96px;
top: 3688px;

background: url(../Home/08-home.png), #292929;
border-radius: 4px;
}

.home9
{
position: absolute;
width: 400px;
height: 408px;
left: 520px;
top: 3688px;

background: url(../Home/09-home.png), #292929;
border-radius: 4px;
}

.home010
{
position: absolute;
width: 400px;
height: 408px;
left: 944px;
top: 3688px;

background: url(../Home/010-home.png), #292929;
border-radius: 4px;
}

.personalprojects
{
    /* Personal Projects */
position: absolute;
width: 300px;
height: 49px;
left: 570px;
top: 4336px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #F18700;

}

.home011
{
position: absolute;
width: 400px;
height: 560px;
left: 96px;
top: 4451px;

background: url(../Home/011-home.png), #292929;
border-radius: 4px;
}

.home012
{
position: absolute;
width: 400px;
height: 560px;
left: 520px;
top: 4451px;

background: url(../Home/012-home.png), #292929;
border-radius: 4px;
}

.home013
{
position: absolute;
width: 400px;
height: 560px;
left: 944px;
top: 4451px;

background: url(../Home/013-home.png), #292929;
border-radius: 4px;
}

.entreEmContato
{
    /* Entre em contato comigo */
position: absolute;
width: 427px;
height: 49px;
left: 506.5px;
top: 5251px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: -0.5px;

color: #F18700;
}

.ifYouAre
{
/* If you are looking to hire a product designer, I’m currently available for freelance work */
position: absolute;
width: 479px;
height: 76px;
left: 480px;
top: 5324px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 38px;
/* or 158% */

text-align: center;
letter-spacing: -0.5px;

color: #FEFEFE;

}

.btnstrackphotos02
{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 48px;

position: absolute;
width: 312px;
height: 64px;
left: 515px;
top: 5436px;

background: #3C3C3B;
border-radius: 4px;
}

.email2
{
    /* strackphotos01@gmail.com */
position: absolute;
width: 312px;
height: 64px;
left: 620px;
top: 5473px;

font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #FEFEFE;

}

.caixaemail2
{
position: absolute;
width: 312px;
height: 64px;
left: 570px;
top: 5477px; 
}

.corte
{
position: absolute;
width: 1440px;
height: 1px;
left: 0;
bottom: 5748px;


background: #696969;
}